.registerForm{
    width: 20%;
    margin: 50px auto;
    margin-top: 15%;
}
.btn1{
    width: 100%;    
    height: 50px;
    background-color: rgb(22, 133, 77);
    size: 20;
}

.inpt{
    height: 40px;
}


body{
    background-color: rgb(136, 156, 160);
}